:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* colors */
  --main-txt-cl: #212121;
  --light-txt-cl: #757575;
  --other-txt-cl: #ffffff;
  --accent-txt-cl: #2196f3;
  --gray-icon-cl: #afb1b8;
  /* Others */
  --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* reset */
.link,
.address-link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page {
  font-family: var(--main-font);
  font-size: 14px;
  text-align: center;
  color: var(--main-txt-cl);
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--other-txt-cl);
  border-radius: 50%;
  color: var(--gray-icon-cl);
  -webkit-transition: background-color var(--anim-hover), color var(--anim-hover);
  transition: background-color var(--anim-hover), color var(--anim-hover);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-txt-cl);
  color: var(--other-txt-cl);
}

.social__icon {
  fill: currentColor;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--other-txt-cl);
  background-color: var(--accent-txt-cl);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--anim-hover);
  transition: background-color var(--anim-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
  text-decoration: none;
}

.beckdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}

.beckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 40%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  background: var(--other-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--anim-hover);
  transition: -webkit-transform var(--anim-hover);
  transition: transform var(--anim-hover);
  transition: transform var(--anim-hover), -webkit-transform var(--anim-hover);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--other-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
  cursor: pointer;
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-txt-cl);
}

.modal__form-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.register__form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register__form-input {
  width: 100%;
  height: 40px;
  padding-left: 48px;
  padding-right: 48px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}
.register__form-input:not(:-moz-placeholder-shown) {
  border-color: var(--accent-txt-cl);
}
.register__form-input:not(:-ms-input-placeholder) {
  border-color: var(--accent-txt-cl);
}
.register__form-input:focus, .register__form-input:hover, .register__form-input:not(:placeholder-shown) {
  border-color: var(--accent-txt-cl);
}
.register__form-input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}
.register__form-input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}
.register__form-input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}
.register__form-input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}
.register__form-input::placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}
.register__form-input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.register__form-input:focus::-moz-placeholder {
  opacity: 1;
}
.register__form-input:focus:-ms-input-placeholder {
  opacity: 1;
}
.register__form-input:focus::-ms-input-placeholder {
  opacity: 1;
}
.register__form-input:focus::placeholder {
  opacity: 1;
}
.register__form-input:focus ~ .register__form-icon, .register__form-input:hover ~ .register__form-icon {
  fill: var(--accent-txt-cl);
}

.register__form-label {
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--light-txt-cl);
  text-align: left;
  margin-bottom: 4px;
}

.register__form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}

.register__form-message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}
.register__form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register__form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register__form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register__form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register__form-message::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.register__form-message:not(:-moz-placeholder-shown) {
  border-color: var(--accent-txt-cl);
}
.register__form-message:not(:-ms-input-placeholder) {
  border-color: var(--accent-txt-cl);
}
.register__form-message:hover, .register__form-message:focus, .register__form-message:not(:placeholder-shown) {
  border-color: var(--accent-txt-cl);
}

.register__form-field:last-child {
  margin-bottom: 20px;
}

.register__form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8.38px;
  margin-bottom: 30px;
}

.icon__checked {
  opacity: 0;
  fill: var(--accent-txt-cl);
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}

.register__form-checkbox:checked + .register__form-icons .icon__checked {
  opacity: 1;
}

.icon__unchecked {
  -webkit-transition: opacity var(--anim-hover);
  transition: opacity var(--anim-hover);
}

.register__form-checkbox:checked + .register__form-icons .icon__unchecked {
  opacity: 0;
}

.register__form-checkbox:focus + .register__form-icons {
  outline-offset: 1px;
}

.register__form-desc {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--light-txt-cl);
}
@media screen and (min-width: 1200px) {
  .register__form-desc {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.register__form-link {
  color: var(--accent-txt-cl);
}

.register__form__btn {
  padding: 10px 52px;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: left;
  background-color: #ffffff;
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.menu__container.is-open {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}
@media screen and (min-width: 768px) {
  .menu__container {
    display: none;
  }
}

.menu__toggle {
  position: absolute;
  top: 21px;
  right: 25px;
  border: none;
  background-color: inherit;
}
.menu__toggle:active, .menu__toggle:hover, .menu__toggle:focus {
  color: var(--accent-txt-cl);
}

.menu__nav {
  margin-bottom: auto;
}

.menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
  margin-bottom: 32px;
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: var(--accent-txt-cl);
}

.menu__link--current {
  color: var(--accent-txt-cl);
}

.menu__contacts {
  display: block;
}

.menu__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-txt-cl);
}

.menu__email {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);
}

.menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.menu_social-item:not(:last-child):after {
  content: "";
  width: 1px;
  height: 100%;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.header {
  text-align: left;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ececec;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--main-txt-cl);
}

.logo-heder {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav {
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__link {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
}

.nav__link--current {
  color: var(--accent-txt-cl);
  position: relative;
}
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt-cl);
}

@media screen and (max-width: 767px) {
  .header-group {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-group {
    padding-top: 21px;
    margin-left: auto;
    gap: 50px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    margin-left: auto;
    gap: 50px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__email {
    margin-bottom: 10px;
  }
}

.header__contacts {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
  color: var(--light-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts:hover, .header__contacts:focus {
  color: var(--accent-txt-cl);
}

.header__icon {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/fon-img/img_mob-@1x.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/fon-img/img_mob-@1x.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/fon-img/img_mob-@2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/fon-img/img_mob-@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/fon-img/img_tab-@1x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/fon-img/img_tab-@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/fon-img/img_tab-@2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/fon-img/img_tab-@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/fon-img/img_desc-@1x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/fon-img/img_desc-@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../imeges/fon-img/img_desc-@2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/fon-img/img_desc-@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  color: var(--other-txt-cl);
  text-transform: uppercase;
  width: 360px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
    width: 696px;
  }
}

.hero__btn {
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.about {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .about__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about__preference {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__preference {
    text-align: left;
  }
}

.about__txt {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  margin-top: 10px;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}

.activity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  padding-top: 0px;
}

.activity__thumb {
  position: relative;
}

.activity__bloc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity__img-title {
  text-transform: uppercase;
  color: var(--other-txt-cl);
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team__container {
    margin-top: 50px;
  }
}

.team__card {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--other-txt-cl);
  border-radius: 0px 0px 4px 4px;
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .team__img {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__expert {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__profil {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  margin-bottom: 16px;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--other-txt-cl);
  color: var(--gray-icon-cl);
  height: 92px;
  border: 1px solid var(--gray-icon-cl);
  border-radius: 4px;
  -webkit-transition: border-color var(--anim-hover), color var(--anim-hover);
  transition: border-color var(--anim-hover), color var(--anim-hover);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

.client__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #2f303a;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--other-txt-cl);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.contacts-group {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .contacts-group {
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.logo__light {
  color: var(--other-txt-cl);
}

.contacts__address {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--other-txt-cl);
  text-align: left;
  margin-top: 20px;
}
.contacts__address:hover, .contacts__address:focus {
  color: var(--accent-txt-cl);
}

.contacts__item {
  margin-top: 9px;
}

.contacts__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--other-txt-cl);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}

.contacts__link {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
  color: var(--light-txt-cl);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-txt-cl);
}

.footer-social-icons {
  margin-bottom: 60px;
}
@media screen and (min-width: 786px) {
  .footer-social-icons {
    margin-bottom: 0px;
  }
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--other-txt-cl);
  margin-bottom: 20px;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--other-txt-cl);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-txt-cl);
}

.social__icon {
  fill: currentColor;
}

.footer__email-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--other-txt-cl);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__email {
  width: 100%;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}
.footer__email:not(:-moz-placeholder-shown) {
  border-color: var(--accent-txt-cl);
}
.footer__email:not(:-ms-input-placeholder) {
  border-color: var(--accent-txt-cl);
}
.footer__email:hover, .footer__email:focus, .footer__email:not(:placeholder-shown) {
  border-color: var(--accent-txt-cl);
}
.footer__email::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__email::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__email:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__email::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .footer__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__email {
    width: 358px;
    margin-bottom: 0px;
  }
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer__btn {
    margin-left: 12px;
  }
}

.ft__icon {
  right: 28px;
  bottom: 13px;
  margin-left: 10px;
  fill: var(--other-txt-cl);
}

.filtrs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filtrs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.filtrs__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--anim-hover), -webkit-box-shadow var(--anim-hover);
  transition: background-color var(--anim-hover), -webkit-box-shadow var(--anim-hover);
  transition: background-color var(--anim-hover), box-shadow var(--anim-hover);
  transition: background-color var(--anim-hover), box-shadow var(--anim-hover), -webkit-box-shadow var(--anim-hover);
  color: var(--anim-hover);
  cursor: pointer;
}
.filtrs__btn:hover, .filtrs__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--other-txt-cl);
  background-color: var(--accent-txt-cl);
}
.filtrs__btn:active {
  color: var(--accent-txt-cl);
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  text-align: left;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-top: 50px;
    lex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__item {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__img {
  max-width: 100%;
  height: auto;
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim-hover);
  transition: -webkit-box-shadow var(--anim-hover);
  transition: box-shadow var(--anim-hover);
  transition: box-shadow var(--anim-hover), -webkit-box-shadow var(--anim-hover);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform var(--anim-hover);
  transition: -webkit-transform var(--anim-hover);
  transition: transform var(--anim-hover);
  transition: transform var(--anim-hover), -webkit-transform var(--anim-hover);
  width: 100%;
  height: 101%;
  background: rgba(33, 150, 243, 0.9);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item:hover .portfolio__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.portfolio__overlay-desc {
  color: var(--other-txt-cl);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
}

.portfolio__name-block {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__name-block--first-child {
    padding-bottom: 56px;
  }
}

.portfolio__name {
  color: var(--main-txt-cl);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__filtr {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--light-txt-cl);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */