:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
  
    /* colors */
    --main-txt-cl: #212121;
    --light-txt-cl: #757575;
    --other-txt-cl: #ffffff;
    --accent-txt-cl: #2196f3;
    --gray-icon-cl: #afb1b8;
  
    /* Others */
    --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }