.client {
  @include section;

   // desktop styles 1200
  @media screen and (min-width: 1200px) {
    @include section(94px);
  }
}
.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  // desktop styles 1200
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.client__item {
  flex-basis: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--other-txt-cl);
  color: var(--gray-icon-cl);
  height: 92px;
  border: 1px solid var(--gray-icon-cl);
  border-radius: 4px;
  transition: border-color var(--anim-hover), color var(--anim-hover);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
    border-color: var(--accent-txt-cl);
  }
}

.client__icon {
  fill: currentColor;
}
